<nav>
    <div id="nav-items">
        <h1>EATS GOOD!</h1>

        <div class="dropdown">
            <button><a href="/">About</a></button>
            <button><a href="/shoppinglist">Shopping List</a></button>
            <button><a href="/uploadrecipe">Upload Recipe</a></button>
            <button><a href="/recipes">Recipes</a></button>
            <div class="profile">
                <button><img src="/public/images/Profile Icon.png" /></button>
                <ul>
                    <li><a href="/viewaccount">View Account</a></li>
                    <li><a href="/editaccount">Manage Account</a></li>
                    <li><a href="/login">Log In</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>