* {
	margin: 0;
	padding: 0;
}

#nav-items {
	background-color: #0a065d;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.dropdown {
	height: 8vh;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 50%;
}

.dropdown button {
	background: none;
	border: none;
	cursor: pointer;
}

.profile {
	position: relative;
}

.profile ul {
	right: 0px;
	
	position: absolute;
	background-color: #89654d;
	margin-top: 26px;
	width: 200px;
	height: 150px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	list-style: none;
	
	opacity: 0;
	transform: translateY(-10px);
	transition: all 0.4s ease;
}

.profile button:focus + ul {
	opacity: 1;
	pointer-events: all;
	transform: translateY(0px);
}

.profile li {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile li:hover {
	background-color: #a3816a;
}

#profile-icon {
	width: 35px;
	height: 35px;
}

#eats-good-logo {
	width: 55%;
}

.home-items {
	display: flex;
	justify-content: center;
	align-items: center;
	
	height: 100vh;
	background-color: #0a065d;
}

#home-items-left {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 50%;
	height: 100vh;
}

#home-items-right {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 40%;
	height: 100vh;
}

#home-items-right-infolinks {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	
	width: 60%;
	height: 40%;
}

#home-items-right-infolinks p {
	color: #000;
}

.recipes-title-container {
	margin-top: 10%;
	width: 33%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.recipes-title-container h1 {
	color: #000;
	font-family: helNowBold; 
	font-size: 3rem;
}

.recipes-title-container input {
	font-size: 18px;
	padding: 20px 80px;
	border: 0;
	outline: none;
	background-color: #cecece;
	border-radius: 30px;
}

.recipes-overview-container{
	margin-top: 3%;
	overflow: hidden;
	border-radius: 25px;
	width: 33%;
	background-color: #fff;
	
	height: 600px;
}

.recipes-overview-title {
	background-color: #a3816a;
	display: flex;
	align-items: center;
	
	height: 15%;
}

.recipes-overview-title h2 {
	margin-left: 5%;
	
	font-size: 2rem;
}

.recipes-overview-image {	
	overflow: hidden;
	height: 65%;
}

.recipes-thumbnail {
	width: 850px;
}

.recipes-overview-info {
	background-color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	height: 20%;
}

.overview-profile-container {
	width: 40%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.overview-profile-container img {
	padding-left: 8%;
}

.overview-profile-container a {
	color: #000;
	font-family: helNowRegular;
	font-size: 23px;
	margin-left: 5%;
}

.overview-rating-container {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 35%;
}

.overview-rating-container i {
	color: #a3816a;
	display: flex;
	align-items: center;
	font-size: 25px;
	margin: 5px;
}

.page-container {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10%;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 50%;
	padding-top: 20px;
	padding-bottom: 20px;
	
	border-radius: 35px;
	border: none;
	outline: none;
	
	background-color: #a3816a;
	
	font-family: helNowBold;
	color: #fff;
	font-size: 150%;
	
	cursor: pointer;
}

.container {
	margin-top: 250px;
	background-color: white;
	width: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 35px;
}

.container h1 {
	font-family: helNowBold;
	font-size: 55px;
	
	color: #000;	
}

.container input {
	font-size: 18px;
	padding: 20px 80px;
	border: 0;
	outline: none;
	background-color: #eaeaea;
}

.container button {
	right: 0px;
}

.container p,
.container input {
	margin-bottom: 30px;
}

.container button {
	margin-top: 40px;
	margin-bottom: 70px;
}

.page-name, form {
	width: 80%;
}

.page-name {
	padding-top: 70px;
	padding-bottom: 70px;
	display: flex;
	align-items: center;
}

button {
	border: none;
	outline: none;
}

.buttonholder{
	display: flex;
	justify-content: flex-end;
	width:90vh;
}

#deletebutton{
	margin-bottom: 40px;
}

#editflex{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

#register{
	width: 100vh;
}

#rcontainer{
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-direction:row;
}

#leftregister {
	display: flex;
	align-items:flex-start;
	justify-content: space-evenly;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 365px;
	margin-left: 80px;
}

#rightregister{
	display: flex;
	align-items:center;
	flex-direction: column;
	flex-wrap: nowrap;
}

#rightregister input{
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	width: 55vh;
}

#uploadcontainer{
	width: 100vh;
}

#editcontainer, #deletecontainer, #registercontainer{
	width: 70vh;
}

#deletecontainer{
	margin-top: 50px;
}

#uploadcontainer{
	align-items: flex-start;
	justify-content: left;
	padding-left: 70px;
}

#uploadphoto{
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
}

#recipedesc{
	font-size: 18px;
	height:50vh;
	width: 85vh;
	padding: 10px 20px;
	border: 0;
	outline: none;
	background-color: #eaeaea;
	outline: none;
}

#smallertext{
	padding: 0px 0px;
}

.viewrecipe-container {
	margin-top: 250px;
	margin-bottom: 100px;
	background-color: #fff;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 35px;
	overflow: hidden;
}

.viewrecipe-container h1,
.viewrecipe-headername h1 {
	font-family: helNowBold;
	font-size: 55px;
	color: #000;
}

.viewrecipe-headername {
	width: 80%;
	padding-top: 90px;
	padding-bottom: 60px;
	display: flex;
	align-items: center;
}

.viewrecipe-profile {
	width: 80%;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.viewrecipe-profile a {
	color: #000;
	font-family: helNowRegular;
	font-size: 27px;
	
	margin-left: 30px;
}

.viewrecipe-rating {
	width: 80%;
	padding-top: 20px;
	padding-bottom: 40px;
	display: flex;
	flex-direction: row;
	align-items: center;
}

.viewrecipe-rating i {
	color: #a3816a;
	font-size: 25px;
	margin: 5px;
}

.viewrecipe-image {
	width: 100%;
}

.viewrecipe-image img {
	max-width: 100%;
	width: 100%;
}

.viewrecipe-info {
	width: 80%;
	padding-top: 100px;
	padding-bottom: 10px;
}

.viewrecipe-button {
	width: 80%;
	display: flex;
	padding-top: 90px;
	padding-bottom: 90px;
	justify-content: center;
	align-items: center;
}

.viewrecipe-addcomment {
	margin-bottom: 100px;
	background-color: #fff;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 35px;
}

.viewrecipe-addcomment textarea {
	font-size: 25px;
	font-family: helNowRegular;
	padding: 20px;
	padding-bottom: 300px;
	border: 0;
	outline: none;
	background-color: #eaeaea;
	width: 80%;
	resize: none;
}

.viewrecipe-comment {
	margin-bottom: 100px;
	background-color: #fff;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 35px;
}

.viewrecipe-usercomment {
	width: 80%;
	padding-top: 10px;
	padding-bottom: 100px;
}

nav {
	z-index: 1;
	position: fixed;
	top: 0;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	background-color: #eaeaea;
}

h1 {
	font-family: helNowExBold;
	font-size: 35px;
	
	color: #fff;
}

h2 {
	font-family: helNowBold;
	font-size: 25px;
	
	color: #fff;
}

a {
	font-family: helNowBold;
	font-size: 20px;
	
	color: #fff;
	
	text-decoration: none;
}

p {
	font-family: helNowRegular;
	font-size: 27px;
	line-height: 150%;
	
	color: #000;
}

#smallingredients{
	margin-left: 20px;
	font-size: 18px;
	font-style: italic;
}

@font-face {
	src: url(fonts/HelveticaNowText-ExtraBold.ttf);
	font-family: helNowExBold;
}

@font-face {
	src: url(fonts/HelveticaNowText-Bold.ttf);
	font-family: helNowBold;
}

@font-face {
	src: url(fonts/HelveticaNowText-Regular.ttf);
	font-family: helNowRegular;
}

@font-face {
	src: url(fonts/HelveticaNowText-Light.ttf);
	font-family: helNowLight;
}