* {
	margin: 0;
	padding: 0;
}

#nav-items {
	background-color: #0a065d;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.dropdown {
	height: 100px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 50%;
}

.dropdown button {
	background: none;
	border: none;
	cursor: pointer;
}

.profile {
	position: relative;
}

.profile ul {
	right: 0px;
	
	position: absolute;
	background-color: #89654d;
	margin-top: 26px;
	width: 200px;
	height: 150px;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: column;
	list-style: none;
	
	opacity: 0;
	transform: translateY(-10px);
	transition: all 0.4s ease;
}

.profile button:focus + ul {
	opacity: 1;
	pointer-events: all;
	transform: translateY(0px);
}

.profile li {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.profile li:hover {
	background-color: #a3816a;
}

#profile-icon {
	width: 35px;
	height: 35px;
}

#eats-good-logo {
	width: 55%;
}

.home-items {
	display: flex;
	justify-content: center;
	align-items: center;
	
	height: 100vh;
	background-color: #0a065d;
}

#home-items-left {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 50%;
	height: 100vh;
}

#home-items-right {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 40%;
	height: 100vh;
}

#home-items-right-infolinks {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
	
	width: 60%;
	height: 40%;
}

#home-items-right-infolinks p {
	color: #000;
}

.recipes-title-container {
	margin-bottom: 60px;
	
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.recipes-title-container h1 {
	color: #000;
	font-family: helNowBold; 
	font-size: 3rem;
}

.recipes-title-container input {
	font-size: 18px;
	width: 100%;
	padding: 20px 30px;
	border: 0;
	outline: none;
	background-color: #cecece;
	border-radius: 30px;
}

.recipes-overview-container{
	margin-bottom: 80px;
	overflow: hidden;
	border-radius: 25px;
	width: 100%;
	background-color: #fff;
}

.recipes-overview-title {
	background-color: #a3816a;
	display: flex;
	align-items: center;
	
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 50px;
	padding-right: 50px;
}

.recipes-overview-image {
	width: 100%;
}

.recipes-overview-image img {
	max-width: 100%;
	width: 100%;
}

.recipes-thumbnail {
	width: 850px;
}

.recipes-overview-info {
	background-color: #fff;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	
	
	padding: 30px;
}

.overview-profile-container {
	padding-left: 20px;
	padding-right: 20px;
	
	width: 50%;
	display: flex;
	align-items: center;
}

.overview-profile-container a {
	color: #000;
	font-family: helNowRegular;
	font-size: 23px;
	margin-left: 5%;
}

.overview-rating-container {
	padding-left: 20px;
	padding-right: 20px;
	
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

.overview-rating-container i {
	color: #a3816a;
	display: flex;
	align-items: center;
	font-size: 25px;
	margin: 5px;
}

.page-container {
	padding-top: 250px;
	width: 55%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 10%;
}

.button {
	display: flex;
	justify-content: center;
	align-items: center;
	
	width: 250px;
	padding-top: 25px;
	padding-bottom: 25px;
	
	border-radius: 40px;
	border: none;
	outline: none;
	
	background-color: #a3816a;
	
	font-family: helNowBold;
	color: #fff;
	font-size: 150%;
	
	cursor: pointer;
}

.container {
	margin-top: 250px;
	background-color: white;
	width: 60vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 35px;
}

.container a {
	margin-top: 70px;
	margin-bottom: 70px;
}

.container h1 {
	font-family: helNowBold;
	font-size: 55px;
	
	color: #000;	
}

.container input {
	font-size: 18px;
	padding: 20px 80px;
	border: 0;
	outline: none;
	background-color: #eaeaea;
	width: 50%;
}

#uploadcontainer{
	align-items: flex-start;
	justify-content: left;
	padding-left: 70px;
	width: 55%;
	margin-bottom: 250px;
}

#uploadphoto{
	display: flex;
	flex-direction: column;
	margin-bottom: 25px;
	width: 120%;
}

#uploadphoto form {
	width:62%;
	/* padding-right:80%; */
}

#uploadphoto input {
	padding-left:30%; 
	width:61%;
}

.container button {
	right: 0px;
	margin-top: 40px;
	margin-bottom: 70px;
}

.container p,
.container input {
	margin-bottom: 30px;
}

.page-name, form {
	width: 80%;
	/* background-color: orange; */
}

.page-name {
	padding-top: 70px;
	padding-bottom: 70px;
	display: flex;
	align-items: center;
	/* background-color: red; */
}


button {
	border: none;
	outline: none;
}

.buttonholder{
	display: flex;
	justify-content: flex-end;
	width:90%;
}

#deletebutton{
	margin-bottom: 40px;
}

#editflex{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin-bottom: 250px;
}

#formcontainer{
	padding-right
}
/* 
#register{
	width: 100vh;
} */

#rcontainer{
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction:row;
	width: 77%;
}

#leftregister {
	display: flex;
	align-items:flex-start;
	justify-content: space-evenly;
	flex-direction: column;
	flex-wrap: nowrap;
	height: 365px;
	margin-left: 80px;
}

#rightregister{
	display: flex;
	align-items:center;
	flex-direction: column;
	flex-wrap: nowrap;
	width: 100%;
}
/* 
#rightregister form{
	width: 200%;
} */



#rightcontainer{
	display: flex;
	align-items:center;
	flex-direction: column;
	flex-wrap: nowrap;
	padding-left: 100px;
}


#rcontainer input{
	padding-left: 30px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-right: 20px;
	width: 100%;
}

#logincontainer{
	align-items: flex-start;
	justify-content: left;
	padding-left: 70px;
	width: 30%;
	margin-bottom: 250px;
}

#logincontainer input{
	font-size: 18px;
	padding: 20px 80px;
	border: 0;
	outline: none;
	background-color: #eaeaea;
	width: 100%;
	padding-right:40px;
}

#logincontainer .button{
	width: 45%;
	align-self: center;
	margin-right: 50px;
}


#login-form-container{
	width: 50%;
}

#login-form-container form{
	width: 100%;
	
}

#logincontainer button{
	width:60%;
}

#editcontainer{
	justify-content:flex-start ;
    align-items:center ;
}

#editcontainer input{
	font-size: 18px;
	padding: 20px 80px;
	border: 0;
	outline: none;
	background-color: #eaeaea;
	width: 60%;
	padding-right:40px;
}

#editcontainer, #deletecontainer {
	width: 40%;
}

#registercontainer{
	width: 40%;
	margin-bottom: 250px;
}

#registercontainer input{
	width: 30%;
}

#deletecontainer{
	margin-top: 50px;
}


#recipeingredients{
	display: flex;
	flex-direction: row;
}

#recipedesc{
	font-size: 18px;
	height:50vh;
	width: 85vh;
	padding: 10px 20px;
	border: 0;
	outline: none;
	background-color: #eaeaea;
	outline: none;
}

#smallertext{
	padding: 0px 0px;
}

.recipetext{
	width: 130%;
}


#disclaimertext{
	margin-top: 7px;
	width: 40%;
}

.recipetext textarea{
	font-size: 25px;
	font-family: helNowRegular;
	padding: 20px;
	padding-bottom: 300px;
	border: 0;
	outline: none;
	background-color: #eaeaea;
	width: 70%;
	resize: none;
}

.viewrecipe-container {
	margin-top: 250px;
	margin-bottom: 100px;
	background-color: #fff;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 35px;
	overflow: hidden;
	background-color: red;
}

.viewrecipe-container h1,
.viewrecipe-headername h1 {
	font-family: helNowBold;
	font-size: 55px;
	color: #000;
}

.viewrecipe-headername {
	width: 80%;
	padding-top: 90px;
	padding-bottom: 60px;
	display: flex;
	align-items: center;
	background-color: orange;
}

.viewrecipe-profile {
	width: 80%;
	padding-top: 20px;
	padding-bottom: 20px;
	display: flex;
	flex-direction: row;
	align-items: center;
	/* background-color: yellow; */
}

.viewrecipe-profile a {
	color: #000;
	font-family: helNowRegular;
	font-size: 27px;
	
	margin-left: 30px;
}

.viewrecipe-rating {
	width: 80%;
	padding-top: 20px;
	padding-bottom: 80px;
	display: flex;
	flex-direction: row;
	align-items: center;
	background-color: green;
}

.viewrecipe-rating i {
	color: #a3816a;
	font-size: 25px;
	margin: 5px;
}

.viewrecipe-image {
	width: 100%;
}

.viewrecipe-image img {
	max-width: 100%;
	width: 100%;
}

.viewrecipe-info {
	width: 80%;
	padding-top: 100px;
	padding-bottom: 10px;
	background-color: blue;
}

.viewrecipe-button {
	width: 80%;
	display: flex;
	padding-top: 90px;
	padding-bottom: 90px;
	justify-content: center;
	align-items: center;
	background-color: purple;
}

.viewrecipe-addcomment {
	margin-bottom: 100px;
	background-color: #fff;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 35px;
	background-color: violet;
}

.viewrecipe-addcomment textarea {
	font-size: 25px;
	font-family: helNowRegular;
	padding: 20px;
	padding-bottom: 300px;
	border: 0;
	outline: none;
	background-color: #eaeaea;
	width: 80%;
	resize: none;
}

.viewrecipe-comment {
	margin-bottom: 100px;
	background-color: #fff;
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 35px;
	background-color: indigo;
}

.viewrecipe-usercomment {
	width: 80%;
	padding-top: 10px;
	padding-bottom: 100px;
	
}

.shoppinglist-ingredients {
	padding-top: 30px;
	padding-bottom: 30px;
	padding-left: 50px;
	padding-right: 50px;
}

.accountinfo {
	margin-bottom: 100px;
	background-color: #fff;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 35px;
	overflow: hidden;
}

.accountinfo h1 {
	font-family: helNowBold;
	font-size: 55px;
	color: #000;
	margin-top: 90px;
	margin-bottom: 60px;
	display: flex;
	align-items: center;
}

.accountinfo h1,
.accountinfo p {
	text-align: center;
}

.accountinfo a,
.accountinfo p {
	margin-bottom: 60px;
}

.accountrecipe-buttoncontainer {
	display: flex;
	flex-direction: row;
}

.accountrecipe-buttoncontainer a {
	width: 100px;
	margin-left: 25px;
}

nav {
	z-index: 1;
	position: fixed;
	top: 0;
	width: 100%;
}

body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
	background-color: #eaeaea;
}

h1 {
	font-family: helNowExBold;
	font-size: 35px;
	
	color: #fff;
}

h2 {
	font-family: helNowBold;
	font-size: 2rem;
	
	color: #fff;
}

a {
	font-family: helNowBold;
	font-size: 20px;
	
	color: #fff;
	
	text-decoration: none;
}

p {
	font-family: helNowRegular;
	font-size: 27px;
	line-height: 150%;
	
	color: #000;
}

#smallingredients{
	margin-left: 20px;
	font-size: 18px;
	font-style: italic;
}


@font-face {
	src: url(fonts/HelveticaNowText-ExtraBold.ttf);
	font-family: helNowExBold;
}

@font-face {
	src: url(fonts/HelveticaNowText-Bold.ttf);
	font-family: helNowBold;
}

@font-face {
	src: url(fonts/HelveticaNowText-Regular.ttf);
	font-family: helNowRegular;
}

@font-face {
	src: url(fonts/HelveticaNowText-Light.ttf);
	font-family: helNowLight;
}