<!DOCTYPE html>

<html>
  <head>
    <title>Home | Eats Good!</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <script
      src="https://kit.fontawesome.com/6e28361409.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
      
    <div class="home-items">
        {{>header}}
        {{{body}}}
    </div>
     
  </body>
</html>
