<div id="editflex">
    <div id="editcontainer" class="container">
        <div class="page-name">
            <h1>Edit Account</h1>
        </div>
        <form action="#" method="post">
            <label for="email">E-mail Address</label>
            <input type="text" name="email" id="email" placeholder="delacruzjuan@gmail.com" />
            <label for="password">Password</label>
            <input type="password" name="password" id="password" placeholder="***********" />
            <br />
            <label for="firstname">First Name</label>
            <input type="text" name="firstname" id="firstname" placeholder="Juan" />
            <br />
            <label for="lastname">Last Name</label>
            <input type="text" name="lastname" id="lastname" placeholder="Dela Cruz" />
            <button type="submit" class="button" id="confirmbutton">
                Confirm
            </button>
        </form>
    </div>

    <div id="deletecontainer" class="container">
        <a href="#" class="button" id="deletebutton"> Delete Account </a>
    </div>
</div>