<div id="home-items-left">
    <img src="/public/images/Eats Good Logo.png" id="eats-good-logo" />
</div>

<div id="home-items-right">
    <div id="home-items-right-infolinks">
        <p style="text-align: center; color: #fff; text-align: center">
            Eats Good! is dedicated to those who love cooking and enjoy food.
            Users of Eats Good! will be able to post their own recipes and have
            them featured on the page.
        </p>
        
        <a href="/register" class="button">Sign Up</a>
        <a href="/login" class="button">Log In</a>
    </div>
</div>
