<div class="page-container">
    <div class="recipes-title-container">
        <h1>Recipes</h1>

        <div class="recipes-search-container">
            <input type="text" name="search" placeholder="Search Recipe" />
        </div>
    </div>

    <div class="recipes-overview-container">
        <a href="viewrecipe.html">
            <div class="recipes-overview-title">
                <h2>Oven-Baked French Bread Pizzas</h2>
            </div>

            <div class="recipes-overview-image">
                <img src="/public/images/Oven-Baked French Bread Pizzas.png" class="recipes-thumbnail" />
            </div>
        </a>

        <div class="recipes-overview-info">
            <div class="overview-profile-container">
                <img src="/public/images/Profile Icon.png" />
                <a href="viewotheraccount.html">Justin Riley Uy</a>
            </div>

            <div class="overview-rating-container">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
        </div>
    </div>

    <div class="recipes-overview-container">
        <a href="viewrecipe.html">
            <div class="recipes-overview-title">
                <h2>Sheet Pan Sausage & Veggies</h2>
            </div>

            <div class="recipes-overview-image">
                <img src="/public/images/Sheet Pan Sausage & Veggies.png" class="recipes-thumbnail" />
            </div>
        </a>

        <div class="recipes-overview-info">
            <div class="overview-profile-container">
                <img src="/public/images/Profile Icon.png" />
                <a href="viewownaccount.html">Vince Anthony Esquivel</a>
            </div>

            <div class="overview-rating-container">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
        </div>
    </div>
</div>