<div id="registercontainer" class="container">
    <div class="page-name">
        <h1>Register</h1>
    </div>
    <form action="/register" method="post">
        <label for="email">E-mail Address</label>
        <input type="text" id="email" name="email" placeholder="Email" />
        <label for="password">Password</label>
        <input type="password" id="password" name="password" placeholder="Password" />
        <label for="firstName">First Name</label>
        <input type="text" id="firstname" name="firstName" placeholder="First Name" />
        <label for="lastName">Last Name</label>
        <input type="text" id="lastname" name="lastName" placeholder="Last Name" />
        <button type="submit" class="button" id="confirmbutton">
            Register
        </button>
    </form>
</div>