<div class="page-container">
    <div class="recipes-title-container">
        <h1>Shopping List</h1>
    </div>

    <div class="recipes-overview-container">
        <a href="viewrecipe.html">
            <div class="recipes-overview-title">
                <h2>Oven-Baked French Bread Pizzas</h2>
            </div>
        </a>

        <div class="shoppinglist-ingredients">
            <p>
                Just grab some bread, sauce, and whatever pizza toppings your heart
                desires. (We highly recommend making a margarita variation and a BBQ
                chicken version — steps for both are included at the bottom of this
                post.)
            </p>
        </div>

        <div style="padding: 50px">
            <a href="#" class="button">Delete</a>
        </div>
    </div>
</div>