<div class="page-container">
    <div class="recipes-title-container">
        <h1>Shopping List</h1>
    </div>

    {{#each shoppingList as |listItem|}}
    <div class="recipes-overview-container">
        <a href="viewrecipe.html">
            <div class="recipes-overview-title">
                <h2>{{listItem.recipeName}}</h2>
            </div>
        </a>

        <div class="shoppinglist-ingredients">
            <p>
                {{listItem.recipeIngredients}}
            </p>
        </div>

        <div style="padding: 50px">
            <a href="/deleteFromList/{{listItem._id}}" class="button">Delete</a>
        </div>
    </div>

    {{/each}}
</div>