<!DOCTYPE html>

<html>
  <head>
    <title>Shopping List | Eats Good!</title>
    <link rel="stylesheet" type="text/css" href="/public/style.css" />
    <script
      src="https://kit.fontawesome.com/6e28361409.js"
      crossorigin="anonymous"
    ></script>
  </head>

  <body>
    <nav>
      <div id="nav-items">
        <h1>EATS GOOD!</h1>

        <div class="dropdown">
          <button><a href="index.html">About</a></button>
          <button><a href="shoppinglist.html">Shopping List</a></button>
          <button><a href="uploadrecipe.html">Upload Recipe</a></button>
          <button><a href="recipes.html">Recipes</a></button>
          <div class="profile">
            <button><img src="/public/images/Profile Icon.png" /></button>
            <ul>
              <li><a href="viewownaccount.html">View Account</a></li>
              <li><a href="editaccount.html">Manage Account</a></li>
              <li><a href="login.html">Log In</a></li>
            </ul>
          </div>
        </div>
      </div>
    </nav>

    <div class="page-container">
      <div class="recipes-title-container">
        <h1>Shopping List</h1>
      </div>

      <div class="recipes-overview-container">
        <a href="viewrecipe.html">
          <div class="recipes-overview-title">
            <h2>Oven-Baked French Bread Pizzas</h2>
          </div>
        </a>

        <div class="shoppinglist-ingredients">
          <p>
            Just grab some bread, sauce, and whatever pizza toppings your heart
            desires. (We highly recommend making a margarita variation and a BBQ
            chicken version — steps for both are included at the bottom of this
            post.)
          </p>
        </div>

        <div style="padding: 50px">
          <a href="#" class="button">Delete</a>
        </div>
      </div>
    </div>
  </body>
</html>
