<div class="viewrecipe-container">
      <div class="viewrecipe-headername">
        <h1>Oven-Baked French Bread Pizzas</h1>
      </div>

      <div class="viewrecipe-profile">
        <img src="/public/images/Profile Icon.png" />
        <a href="login.html">Justin Riley Uy</a>
      </div>

      <div class="viewrecipe-rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>

      <div class="viewrecipe-image">
        <img src="/public/images/Oven-Baked French Bread Pizzas.png" />
      </div>

      <div class="viewrecipe-info">
        <h1>Ingredients</h1>
        <p>
          Just grab some bread, sauce, and whatever pizza toppings your heart
          desires. (We highly recommend making a margarita variation and a BBQ
          chicken version — steps for both are included at the bottom of this
          post.)
        </p>
      </div>

      <div class="viewrecipe-info">
        <h1>Instructions</h1>
        <p>
          Just cut some baguettes in half, spread on some sauce (tomato, BBQ,
          Ranch — whatever you want!), pile on the toppings, and pop 'em in the
          oven. Someone doesn't like tomatoes? Leave 'em off. Someone loves
          pepperoni? Load it up! The BYO aspect allows everyone to build a pizza
          they like.
        </p>
      </div>

      <div class="viewrecipe-button">
        <a href="#" class="button">Add Ingredients to Shopping List</a>
      </div>
    </div>

    <div class="viewrecipe-addcomment">
      <div class="viewrecipe-headername">
        <h1>Add Rating & Comment</h1>
      </div>

      <div class="viewrecipe-rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>

      <form action="#" method="POST">
        <textarea placeholder="Enter comment here"></textarea>
        <div class="viewrecipe-button">
          <button type="submit" class="button">Comment</button>
        </div>
      </form>
    </div>

    <div class="viewrecipe-comment">
      <div class="viewrecipe-profile" style="padding-top: 100px">
        <img src="/public/images/Profile Icon.png" />
        <a href="login.html">Vince Anthony Esquivel</a>
      </div>

      <div class="viewrecipe-rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>

      <div class="viewrecipe-usercomment">
        <p>Eats really good!</p>
      </div>

      <div
        class="viewrecipe-button"
        style="padding-top: 0; padding-bottom: 80px"
      >
        <button onclick="location.href=''" class="button">Delete</button>
      </div>
    </div>

    <div class="viewrecipe-comment">
      <div class="viewrecipe-profile" style="padding-top: 100px">
        <img src="/public/images/Profile Icon.png" />
        <a href="login.html">Mozart Uy</a>
      </div>

      <div class="viewrecipe-rating">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
      </div>

      <div class="viewrecipe-usercomment">
        <p>Eats actually really good!</p>
      </div>
    </div>