<div class="page-container">
    <div class="accountinfo">
        <h1>(INSERT NAME HERE)</h1>
        <p>(INSERT EMAIL HERE)</p>
        <a href="editaccount.html" class="button">Edit Account</a>
    </div>

    <div class="recipes-overview-container">
        <a href="viewrecipe.html">
            <div class="recipes-overview-title">
                <h2>Sheet Pan Sausage & Veggies</h2>
            </div>

            <div class="recipes-overview-image">
                <img src="/public/images/Sheet Pan Sausage & Veggies.png" class="recipes-thumbnail" />
            </div>
        </a>

        <div class="recipes-overview-info">
            <div class="accountrecipe-buttoncontainer">
                <a href="editrecipe.html" class="button">Edit</a>
                <a href="#" class="button">Delete</a>
            </div>

            <div class="overview-rating-container">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
        </div>
    </div>
</div>