
* {
  margin: 0;
  padding: 0;
}

/* general */

.page-name {
  width: 75%;
  padding-top: 10%;
  padding-bottom: 10%;
  display: flex;
  align-items: center;
}

.page-name h1 {
  font-family: helNowBold;
  font-size: 55px;
  color: #000;
}

/* */

/* editaccount.hbs */

#editflex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

#editcontainer {
  justify-content: flex-start;
  align-items: center;
}

#editcontainer form,
#logincontainer form,
#uploadcontainer form,
#registercontainer form {
  display: flex;
  flex-direction: column;
  width: 75%;
}

#editcontainer input,
#logincontainer input,
#uploadcontainer input,
#registercontainer input {
  font-size: 20px;
  width: 90%;
  border: 0;
  outline: none;
  background-color: #eaeaea;
}

#editcontainer,
#deletecontainer {
  width: 750px;
}

/* */

/* viewrecipe.hbs */

.viewrecipe-container {
  margin-top: 250px;
  margin-bottom: 100px;
  background-color: #fff;
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  overflow: hidden;
}

.viewrecipe-container h1,
.viewrecipe-headername h1 {
  font-family: helNowBold;
  font-size: 55px;
  color: #000;
}

.viewrecipe-profile {
  width: 75%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.viewrecipe-profile a {
  color: #000;
  font-family: helNowRegular;
  font-size: 27px;

  margin-left: 30px;
}

.viewrecipe-rating {
  width: 75%;
  padding-top: 20px;
  padding-bottom: 80px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.viewrecipe-rating-input {
  padding-bottom: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.viewrecipe-rating i {
  color: #a3816a;
  font-size: 25px;
}

.viewrecipe-image {
  width: 100%;
}

.viewrecipe-image img {
  max-width: 100%;
  width: 100%;
  vertical-align: middle;
}

.viewrecipe-info {
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 100px;
  padding-bottom: 100px;
}

.viewrecipe-info h1 {
  margin-bottom: 50px;
}

.viewrecipe-button,
.comment-buttons {
  width: 75%;
  display: flex;
  padding-top: 90px;
  padding-bottom: 90px;
  justify-content: space-between;
  align-items: center;
}

.comment-buttons a,
.comment-buttons button {
  width: 175px;
}

.viewrecipe-comment-section form {
  width: 75%;
}

.viewrecipe-comment-section textarea {
  font-size: 25px;
  font-family: helNowRegular;
  padding: 20px;
  padding-bottom: 80px;
  border: 0;
  outline: none;
  background-color: #eaeaea;
  width: 90%;
  resize: none;
}

.viewrecipe-comment {
  margin-bottom: 100px;
  background-color: #fff;
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
}

.viewrecipe-usercomment {
  width: 75%;
  padding-top: 10px;
  padding-bottom: 100px;
}

.edit-comment-popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.viewrecipe-comment-section {
  background-color: #fff;
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  
  margin-top: 100px;
}

.viewrecipe-comment-section {
  transform: scale(0.7)
}

/* */

/* uploadrecipe.hbs */

#uploadcontainer {
  width: 750px;
}

#rcontainer form {
  width: 100%;
}

/* */

/* viewaccount.hbs */


/* */

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background-color: #eaeaea;
}

#nav-items {
  background-color: #295646;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  
  height: 100px;
}

.dropdown {
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
}

.dropdown button {
  background: none;
  border: none;
  cursor: pointer;
}

.profile {
  position: relative;
}

.profile ul {
  right: 0px;

  position: absolute;
  background-color: #89654d;
  margin-top: 26px;
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  list-style: none;

  opacity: 0;
  transform: translateY(-10px);
  transition: all 0.4s ease;
}

.profile button:focus + ul {
  opacity: 1;
  pointer-events: all;
  transform: translateY(0px);
}

.profile li {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.profile li:hover {
  background-color: #a3816a;
}

#profile-icon {
  width: 35px;
  height: 35px;
}

#eats-good-logo {
  width: 400px;
}

.home-items {
  display: flex;
  justify-content: center;
  align-items: center;

  height: 100vh;
}

#home-items-left {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  background-color: rgba(163, 129, 106, 0.65);

  width: 65%;
  height: 100vh;
}

#home-items-left video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

#home-items-left img {
  margin-top: 100px;
}

#home-items-right {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 35%;
  height: 100vh;
  background-color: #202020;
}

#home-items-right-infolinks {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;

  width: 60%;
  height: 40%;
}

#home-items-right-infolinks p {
  color: #000;
}
#home-items-right-infolinks p,
#home-items-right-infolinks a {
  margin-bottom: 36px;
}

.recipes-title-container {
  margin-bottom: 60px;

  width: 750px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.empty-database {
  width: 100%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.recipes-title-container h1,
.empty-database h1
.notfound h1 {
  color: #000;
  font-family: helNowBold;
  font-size: 3rem;
}

.recipes-title-container input {
  font-size: 20px;
  width: 100%;
  padding: 20px 30px;
  border: 0;
  outline: none;
  background-color: #cecece;
  border-radius: 30px;
}

.recipes-title-container i {
  opacity: 0.5;
  font-size: 20px;
}

.recipes-overview-container {
  margin-bottom: 80px;
  overflow: hidden;
  border-radius: 25px;
  width: 750px;
  background-color: #fff;
}

.recipes-overview-title {
  background-color: #a3816a;
  display: flex;
  align-items: center;

  width: 100%;
  height: 120px;
}

.recipes-overview-title h2 {
  margin-left: 50px;
}

.recipes-overview-image img {
  width: 100%;
  height: 450px;
  vertical-align: middle;
}

.recipes-overview-info {
  background-color: #fff;
  display: flex;
  flex-direction: row;

  height: 120px;
}

.recipes-overview-info a {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: helNowBold;
  color: #000;
  margin-left: 50px;
  margin-right: 25px;
  font-size: 125%;
}

.overview-profile-container {
  width: 50%;
  display: flex;
  align-items: center;
}

.overview-profile-container {
  width: 50%;
  display: flex;
  align-items: center;
}

.overview-profile-container img {
  margin-left: 50px;
  vertical-align: middle;
}

.overview-profile-container a {
  color: #000;
  font-family: helNowRegular;
  font-size: 23px;
  margin-left: 25px;
}

.overview-rating-container {
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.overview-rating-container i {
  color: #a3816a;
  display: flex;
  align-items: center;
  font-size: 25px;
  margin: 5px;
}

.page-container {
  padding-top: 250px;
  width: 55%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10%;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 250px;
  padding-top: 25px;
  padding-bottom: 25px;

  border-radius: 40px;
  border: none;
  outline: none;

  background-color: #a3816a;

  font-family: helNowBold;
  color: #fff;
  font-size: 20px;
  text-align: center;
  cursor: pointer;
}

.recipes-title-container form {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.recipes-title-container form input {
  width: 60%;
}

.recipes-title-container input {
  font-size: 20px;
  width: 40%;
  padding: 20px 30px;
  border: 0;
  outline: none;
  background-color: #cecece;
  border-radius: 30px;
}

.recipes-title-container button {
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 30px;
  width: 60px;
  height: 60px;
  margin-left: 15px;

  background-color: #cecece;
}

.container {
  margin-top: 250px;
  margin-bottom: 250px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  
}

.container,
.editflex,
.recipes-overview-container,
.accountinfo,
.viewrecipe-container,
.viewrecipe-comment {
  box-shadow: 0 0 50px #cecece;
}

.container h1 {
  font-family: helNowBold;
  font-size: 55px;

  color: #000;
}

.container input {
  font-size: 20;
  padding: 20px;
  border: 0;
  outline: none;
  background-color: #eaeaea;
}

#uploadphoto {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

#uploadphoto form {
  width: 62%;
}

#uploadphoto input {
  width: 61%;
}

.container button {
  right: 0px;
  margin-top: 40px;
  margin-bottom: 70px;
}

.container p,
.container input {
  margin-bottom: 30px;
}

button {
  border: none;
  outline: none;
}

.buttonholder {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

#deletebutton {
  margin-bottom: 40px;
}

#rcontainer {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  width: 75%;
}

#leftregister {
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  flex-direction: column;
  flex-wrap: nowrap;
  height: 365px;
  margin-left: 80px;
}

#rightregister {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}

#rightcontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-left: 100px;
}

#rcontainer input {
  padding: 20px;
  width: 90%;
}

#rcontainer input,
#rcontainer textarea {
  font-size: 20px;
}

#logincontainer {
  overflow: hidden;
  align-items: center;
  justify-content: center;
  width: 750px;
}

#logincontainer .button,
#registercontainer .button {
  align-self: center;
}

#registercontainer {
  width: 750px;
}

#registercontainer form {
  display: flex;
  flex-direction: column;
}

#deletecontainer {
  margin-top: -150px;
}

#recipeingredients {
  display: flex;
  flex-direction: row;
}

#recipedesc {
  font-size: 20px;
  height: 50vh;
  width: 85vh;
  padding: 10px 20px;
  border: 0;
  outline: none;
  background-color: #eaeaea;
  outline: none;
}

#smallertext {
  padding: 0px 0px;
}

#disclaimertext {
  margin-top: 7px;
  width: 40%;
}

#notfound {
  background-color: #eaeaea;
	display: flex;
	width: 100%;	
  height: 100vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.recipetext textarea {
  margin-bottom: 50px;
  font-family: helNowRegular;
  padding: 20px;
  padding-bottom: 300px;
  border: 0;
  outline: none;
  background-color: #eaeaea;
  width: 90%;
  resize: none;
}


.rating {
  border: none;

}

.rating > input {
  display: none;
}

.rating > label:before {
  content: '\f005';
  font-family: FontAwesome;
  margin: 5px;
  font-size: 1.5rem;
  display: inline-block;
  cursor: pointer;
}

.rating > .half:before{
  content: '\f089';
  position: absolute;
  cursor: pointer;
}

.rating > label {
  color: #ddd;
  float: right;
  cursor: pointer;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #89654d;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label{
  color: #89654d
}


.add-comment-popup {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}

.modal-content {
  width: 500px;
  height: 500px;
  background-color: white;
}

.shoppinglist-ingredients {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 50px;
  padding-right: 50px;
}

.accountinfo {
  margin-bottom: 100px;
  background-color: #fff;
  width: 750px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 35px;
  overflow: hidden;
}

.accountinfo h1 {
  font-family: helNowBold;
  font-size: 55px;
  color: #000;
  margin-top: 90px;
  margin-bottom: 60px;
  display: flex;
  align-items: center;
}

.accountinfo h1,
.accountinfo p {
  text-align: center;
}

.accountinfo a,
.accountinfo p {
  margin-bottom: 60px;
}

footer {
  background-color: #202020;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

footer p {
  color: #fff
}

nav {
  z-index: 1;
  position: fixed;
  top: 0;
  width: 100%;
}

h1 {
  font-family: helNowExBold;
  font-size: 3rem;

  color: #fff;
}

h2 {
  font-family: helNowBold;
  font-size: 2.5rem;

  color: #fff;
}

a {
  font-family: helNowBold;
  font-size: 1.15rem;

  color: #fff;

  text-decoration: none;
}

p,
label {
  font-family: helNowRegular;
  font-size: 1.15rem;
  line-height: 150%;

  color: #000;
}

body {
  font-size: 20px;
}

#smallingredients {
  margin-left: 20px;
  font-size: 20px;
  font-style: italic;
}

@font-face {
  src: url(../public/fonts/HelveticaNowText-ExtraBold.ttf);
  font-family: helNowExBold;
}

@font-face {
  src: url(../public/fonts/HelveticaNowText-Bold.ttf);
  font-family: helNowBold;
}

@font-face {
  src: url(../public/fonts/HelveticaNowText-Regular.ttf);
  font-family: helNowRegular;
}

@font-face {
  src: url(../public/fonts/HelveticaNowText-Light.ttf);
  font-family: helNowLight;
}

@font-face {
  src: url(../public/fonts/Spacetype-GaretBook.otf);
  font-family: garetBook;
}

@font-face {
  src: url(../public/fonts/Spacetype-GaretHeavy.otf);
  font-family: garetHeavy;
}

/* @media only screen and (max-width: 1200px) {
  .container {
    width: 75% !important;
  }
} */
